name: cppcheck-action-test
on:
  push:
    branches: [ main ]
    
jobs:
  build:
    name: cppcheck-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
          
      - name: cppcheck
        uses: deep5050/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          
      - uses: actions/upload-artifact@v5
        with:
          name: cppcheck_report
          path: cppcheck_report.txt
